@import "layouts/variables";

.slider_show {
    .slider_img {
        width: 100%;
    }
}

.contact-wrapper {
    width: 100%;

    .contact-title {
        text-align: center;
        font-size: 1.5rem;
    }
}